<div class="row">
    <h2>Gerer mes photos</h2>
   <!-- <button routerLink="/gallery"class="btn btn-lg btn-info" > Afficher photo </button>-->
    <button routerLink="/afficher-pictures"class="btn btn-lg btn-info" > Afficher photo </button>
    <button routerLink="/rechercher-pictures" class="btn btn-lg btn-info" > Rechercher Photo </button>
    <button class="btn btn-lg btn-info" > Ajouter photo </button>
    <button class="btn btn-lg btn-info" > modifier photo </button>
    <button class="btn btn-lg btn-info" > Supprimer photo </button>
  </div>
  <p></p>

  <router-outlet></router-outlet>